.wrp{
    display: flex;
}
.carousel{
    width: 40%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.carousel-choosen{
    width: 200px;
    height: 200px;
    border:1px solid green;
} 
.carousel-colors-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
    border:1px solid gray;

}
.carousel-colors-list-item{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: 1px solid black;
}

.carousel-list-wrp{
    display: flex;
    margin:  50px 0 0 0;
    align-items: center;
}
.carousel-arrow{
    width: 0;
    height: 0;
    margin: 0 20px;
}
.carousel-arrow-left{
    border: 20px solid transparent; border-right: 20px solid gray;
}
.carousel-arrow-right{
    border: 20px solid transparent; border-left: 20px solid gray;
}
.field{
    /*width:60%;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
}
.row{
    display: flex;
}
.cell{
    width:80px;
    height: 80px;
}
