.chat-not-found{
    display: block;
    text-align: center;
    color: gray;
    font-weight: 900;
    font-size: 20px;
    margin: 20px 0;
}
.create-chat-btn{
    display: block;
    margin: auto;
    background-color: transparent;
    border:5px solid lemonchiffon;
    border-radius: 5px;
    color: gray;
    font-size: 20px;
    outline: none;
}
.create-chat-btn:hover{
    border-color: lightgreen;
}