.likes button {
    border: none;
    background-color:transparent;
    color: red;
    outline: none;
}
.likes .plus-btn{
    color:green;
}

.likes button:hover{
    text-shadow:1px 1px 2px gray;
}
.likes{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 0 20px;
    
}