.chat-list{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: center;
    box-sizing: border-box;
    color:grey;
    padding: 0;
}

.chat-list-item{
    padding: 5px 10px;
    margin:5px 20px;
    background-color: lemonchiffon;
    border-radius: 5px;
}
 .add-chat{
    /*display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: lemonchiffon;
    margin: auto;
    text-align: center;
    color:grey;
    */
    font-weight: 900;
 } 
.chat-list-item a{
    text-decoration: none;
    color:grey;
}
.chat-list-item:hover a, .add-chat:hover{
    color:lightgreen;
    cursor: pointer;
} 
.chatlist-name-input{
    background-color: lemonchiffon;
    color:grey;
    outline: lightgreen;
    border:transparent;
    width:70px;
    padding: 0 5px;
}
.chatlist-name-input:focus{
    background-color: lemonchiffon;
    border-bottom:1px solid grey;
    outline: lightgreen;
}
.chat-delete-btn:hover{
    font-weight: 900;
    cursor: pointer;
}
.chat-list-item-highlighted{
    box-shadow: 0 0 10px rgba(144,238,144,1); 
}
.chat-list-item-selected{
    border:1px solid lightgreen;
    box-sizing: border-box;
}