<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Product</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-wrp">
            <span class="main-header-title">
                Product name
            </span>
            <ul class="main-header-list">
                <li class="main-header-list-item">Put on this page information about your product</li>
                <li class="main-header-list-item">A detailed description of your product</li>
                <li class="main-header-list-item">Tell us about the advantages and merits</li>
                <li class="main-header-list-item">Associate the page with the payment system</li>
            </ul>
        </div>
        <img src="#" alt="Главное изображение товара" class="main-header-image" width="469" height="214">
    </header>
    <main>
        <section class="about">
            <div class="about-text-wrp">
                <span class="section-header about-title">About your product</span>
                <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo at. Natus eos, eligendi illum rerum omnis porro ex, magni, explicabo veniam incidunt in quam sapiente ut ipsum.</p>
                <p class="about-p">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            </div>
            <video src="#" class="about-video" width="430" height="245"></video>
        </section>
        <section class="pluses">
            <span class="section-header pluses-title">Dignity and pluses product</span>
            <div class="pluses-item-wrp">
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed explicabo sunt officia possimus fugiat in, ex architecto earum. Corporis aut cupiditate, eos numquam. Obcaecati perferendis, tempore. Ducimus, quisquam adipisci ratione.
              </details>
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dicta, expedita recusandae repellendus reiciendis nesciunt amet dolore. Voluptatibus excepturi alias praesentium! Beatae perferendis itaque, accusamus repudiandae ab odio aliquam reprehenderit!
              </details>
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam saepe mollitia repudiandae commodi dolorum, excepturi soluta, assumenda possimus ipsam architecto. Necessitatibus beatae vero nobis soluta quam, rerum, enim voluptates.
              </details>
            </div>
            <div class="pluses-item-wrp">
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed explicabo sunt officia possimus fugiat in, ex architecto earum. Corporis aut cupiditate, eos numquam. Obcaecati perferendis, tempore. Ducimus, quisquam adipisci ratione.
              </details>
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dicta, expedita recusandae repellendus reiciendis nesciunt amet dolore. Voluptatibus excepturi alias praesentium! Beatae perferendis itaque, accusamus repudiandae ab odio aliquam reprehenderit!
              </details>
              <details class="pluses-item">
                <summary class="pluses-item-title">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</summary>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam saepe mollitia repudiandae commodi dolorum, excepturi soluta, assumenda possimus ipsam architecto. Necessitatibus beatae vero nobis soluta quam, rerum, enim voluptates.
              </details>
            </div>
          </section>
          <section class="screenshots">
            <span class="section-header screenshots-title">Scrinshots</span>  
            <figure class="screenshots-item">
                <img class="screenshots-item-img" src="#" alt="screenshot" width="200" height="150">
                <figcaption class="screenshots-item-caption">
                    <span class="screenshots-item-caption-title">The description for the image</span>
                    <p class="screenshots-item-caption-text">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
                </figcaption>
            </figure>
            <figure class="screenshots-item">
                <img class="screenshots-item-img" src="#" alt="screenshot" width="200" height="150">
                <figcaption class="screenshots-item-caption">
                    <span class="screenshots-item-caption-title">The description for the image</span>
                    <p class="screenshots-item-caption-text">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
                </figcaption>
            </figure>
            <figure class="screenshots-item">
                <img class="screenshots-item-img" src="#" alt="screenshot" width="200" height="150">
                <figcaption class="screenshots-item-caption">
                    <span class="screenshots-item-caption-title">The description for the image</span>
                    <p class="screenshots-item-caption-text">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
                </figcaption>
            </figure>
            <figure class="screenshots-item">
                <img class="screenshots-item-img" src="#" alt="screenshot" width="200" height="150">
                <figcaption class="screenshots-item-caption">
                    <span class="screenshots-item-caption-title">The description for the image</span>
                    <p class="screenshots-item-caption-text">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
                </figcaption>
            </figure>
          </section>
          <section class="reviews">
            <span class="section-header reviews-title">Reviews</span>  
            <div class="reviews-item">
                <div class="reviews-item-userpic"></div>
                <div class="reviews-item-wrp">
                  <p class="reviews-item-text">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p>
                  <span class="reviews-item-author">Lourens S.</span>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-item-userpic"></div>
                <div class="reviews-item-wrp">
                  <p class="reviews-item-text">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p>
                  <span class="reviews-item-author">Lourens S.</span>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-item-userpic"></div>
                <div class="reviews-item-wrp">
                  <p class="reviews-item-text">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p>
                  <span class="reviews-item-author">Lourens S.</span>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-item-userpic"></div>
                <div class="reviews-item-wrp">
                  <p class="reviews-item-text">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p>
                  <span class="reviews-item-author">Lourens S.</span>
                </div>
            </div>
          </section>
          <section class="buy"></section>
    </main>
    <footer class="contacts"></footer>
    <footer class="main-footer"></footer>
</body>
</html>