body{
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}
.main-header {
  width: 100%;
  min-height: 323px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  float: left;
}
.main-header-title {
  color:  #ffffff;
  font-size: 60px;
  line-height: 45px;
  font-weight: 400;
  text-align: left;
  display: block;
}
.main-header-list {
  margin: 50px 0 0 0;
  list-style-type: none;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.main-header-list-item {
  position: relative;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 8px;
  left: -35px;
  background-image: url('../icons/check_icon_346.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}  
.main-header-image {
  display: block;
  background-color:  #ffffff;
  width: 469px;
  height: 214px;
  float: right;
}
.about{
  width: 100%;
  min-height: 350px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.about:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-text-wrp{
  width: 700px;
  float: left; 
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.section-header{
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;/*Для всех секций кроме about*/
  margin: 0 0 30px 0;
}
.about-title{
    text-align: left;
}
.about-p{
  margin: 0 0 20px 0;
}
.about-p:last-child{
  margin: 0;
}
.about-video{
  display: block;
  float: right;
  margin-left: 50px;
  background-color: #445161;
}
.pluses {
  width: 100%;
  min-height: 417px;
  padding: 50px;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}
.pluses-item-wrp {
  width: 50%;
}
.pluses-item:last-child{
    margin: 0;
}
.pluses-item {
  width: 100%;
  min-height: 30px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.pluses-item-title {
  display: block;
  outline: none;
  position: relative;
}
.pluses-item-title::-webkit-details-marker {
   display: none;
}
.pluses-item-title:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url();
  background-color:#445161 ;
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  line-height: 32px;
  position: absolute;
  top: 4px;
  left: -40px;
}
.pluses-item[open] .pluses-item-title:before {
  content: "-";
}