body{
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
}
.main-header {
  width: 100%;
  min-height: 323px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  float: left;
}
.main-header-title {
  color:  #ffffff;
  font-size: 60px;
  line-height: 45px;
  font-weight: 400;
  text-align: left;
  display: block;
}
.main-header-list {
  margin: 50px 0 0 0;
  list-style-type: none;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.main-header-list-item {
  position: relative;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 8px;
  left: -35px;
  background-image: url('../icons/check_icon_346.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}  
.main-header-image {
  display: block;
  background-color:  #ffffff;
  width: 469px;
  height: 214px;
  float: right;
}
.about{
  width: 100%;
  min-height: 350px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.about:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-text-wrp{
  width: 700px;
  float: left; 
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.section-header{
  display: block;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;/*Для всех секций кроме about*/
  margin: 0 0 30px 0;
}
.about-title{
    text-align: left;
}
.about-p{
  margin: 0 0 20px 0;
}
.about-p:last-child{
  margin: 0;
}
.about-video{
  display: block;
  float: right;
  margin-left: 50px;
  background-color: #445161;
}
.pluses {
  width: 100%;
  min-height: 417px;
  padding: 50px;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}
.pluses-item-wrp {
  width: 50%;
}
.pluses-item:last-child{
    margin: 0;
}
.pluses-item {
  width: 100%;
  min-height: 30px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.pluses-item-title {
  display: block;
  outline: none;
  position: relative;
}
.pluses-item-title::-webkit-details-marker {
   display: none;
}
.pluses-item-title:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url();
  background-color:#445161 ;
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  line-height: 32px;
  position: absolute;
  top: 4px;
  left: -40px;
}
.pluses-item[open] .pluses-item-title:before {
  content: "-";
}
.screenshots {
  width: 100%;
  padding: 50px;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.screenshots-item{
  width: 50%;
  margin: 0 0 30px 0;
}
.screenshots-item:nth-last-child(1),.screenshots-item:nth-last-child(2){
  margin: 0;
}
.screenshots-item::after{
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.screenshots-item-img{
  display: block;
  width: 200px;
  height: 150px;
  background-color: #445161;
  margin: 0;
  float: left;
  margin: 0 15px 0 0;
}
.screenshots-item-caption-title{
  display: block;
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 23px;
  font-weight: 400;
  color: #445161;
}
.screenshots-item-caption-text{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin:15px 15px 0 0;
}
.reviews{
  width: 100%;
  padding: 50px 35px;/*50-15px позволяет сделать симметричные отступы у item*/
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;  
}
.reviews-item{
  width: 50%;
  margin: 0 0 24px 0;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}
.reviews-item:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.reviews-item:nth-last-child(1),.reviews-item:nth-last-child(2){
  margin: 0;
}
.reviews-item-userpic{
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #445161;
  float: left;
}
.reviews-item-wrp{
  background-color: #ebebeb;
  box-sizing: border-box;
  border-radius: 5px;
  float:right;
  width: 470px;
  min-height: 120px;
  padding: 20px;
  position: relative;
}
.reviews-item-wrp:before{
  content: "";
  display: block;
  border:12px solid transparent; 
  border-right: 12px solid #ebebeb;
  position: absolute;
  left: -22px;
}
.reviews-item-text{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  margin: 0 0 15px 0;
}
.reviews-item-author{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
}
.buy {
  width: 100%;
  padding: 50px;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
}
.buy-item{
  width: 300px;
  min-height: 100px;
  box-sizing: border-box;
  border: 2px solid #445162;
  border-radius: 5px;
  margin: 0 45px 0 0;
  background-color: #445162;
  color: #ffffff;
}
.buy-item:last-child{
  margin: 0;
}
.buy-item-title{
  font-size: 24px;
  line-height: 51px;
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
}
.buy-item-prise{
  font-size: 40px;
  line-height: 71px;
  font-weight: 400;
  color: #445162;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}
.buy-item-list{
  list-style-position: inside;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 20px 0;
  padding: 0 0 0 20px;
}
.buy-item-btn{
  width: 260px;
  height: 40px;
  margin: 0 20px 20px 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
  cursor:pointer;
}
.buy-item-btn:hover{
  color: #ffffff;
  background-color: #445161;
}
.contacts{
  width: 100%;
  padding: 50px;
  box-sizing: border-box; 
  background-color: #445161;
  display: flex;
  flex-wrap: wrap;
}
.contacts-title{
  color: #ffffff;
}
.contacts-form{
  width: 500px;
  margin: 0 50px 0 250px;
}
.contacts-form-input{
  background-color: #fff;
  width:100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #445162;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 0 21px 0;
}
.contacts-form-textarea{
  background-color: #fff;
  width:100%;
  height: 170px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #445162;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 0 21px 0;
}
.contacts-form-btn{
  width: 140px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #445162;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 180px 0 180px;
}
.contacts-form-btn:hover{
  background-color: #f5f5f5;
}
.contacts-info{
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin:0 0 20px 0;
}
.socials-wrp{
  display: flex;
}
.socials{
  display: block;
  width: 43px;
  height: 43px;
  background: url('../icons/social_buttons_338.png') no-repeat;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}
.socials:hover{
  border: 2px solid #445161;
  border-radius: 50%;
}
.socials:last-child{
  margin: 0;
}
.socials-tw{
  background-position: -1px 0;
}
.socials-fb{
  background-position: -50px 0;
}
.socials-in{
  background-position: -99px 0;
}
.socials-g{
  background-position: -148px 0;
}
.socials-yt{
  background-position: right;
}
.copy{
  width: 100%;
  box-sizing: border-box; 
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #445162;
}
